<form action="" method="POST"  enctype="multipart/form-data">
    <div>
       <p><label for="userName">User Name</label></p>
       <input type="text" id="userName" autocomplete="off" name="username" >
    </div>
    <div>
        <p><label for="email">Email Address</label></p>
        <input type="email" id="email" name="email" autocomplete="off" name="email">
     </div>
     <!-- <div>
        <p><label for="password">Password</label></p>
        <input type="password" id="password" name="password" >
     </div>
     <div> --
        <p><label for="birthday">Birthday</label></p>
        <input type="date" id="birthday" name="birthday">
    </div> -->
    <div>
        <p>
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </p>
    <p>
        <button type="submit" id="btn">Register</button>
        <p>Already a member? <a href="/users">Log in</a></p>
    </p>